data/
venv/
.pytest_cache/
*__pycache__/
TRACE_Architecture_Overview.docx
architecture.png
architecturev2.png
sync_changes.bundle
outputs/eval_per_frame.csv
outputs/eval_per_frame_clean.csv
architecturev3.jpeg
architecturev3.png
